<div>
    <ul class="navbar">
        <li class="navbar"><a href="default.asp">Home</a></li>
        <li class="navbar"><a href="news.asp">News</a></li>
        <li class="navbar"><a href="contact.asp">Contact</a></li>
        <li class="navbar"><a href="about.asp">About</a></li>
      </ul>
</div>